.arxiv_container {
    margin-bottom: 1rem;
    width: 75vw;
    /* border: 1px solid orange; */
}

/* .arxiv_input_container {
    border: 1px solid red;
} */

.arxiv_input_text {
    color: snow;
    padding: 0.5rem;
}

.arxiv_input {
    resize: none;
    font-size: 1.1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    background: #070809;
    color: #ececf1;
}

.arxiv_input:disabled {
    opacity: 0.5;
}

.arxiv_input::placeholder {
    color: #5f6368;
}

/* .arxiv_form {
    border: 1px solid green;
} */

.load_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.load_paper_button {
    color: snow;
    background-color: #eb9722;
    padding: 0.6rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* transition: all 0.1s ease; */
}

.load_paper_button:hover {
    /* background: #1f2227; */
    /* background: rgba(235, 151, 34, 0.359); */
    cursor: pointer;
    opacity: 0.9;
    /* transform: scale(1.01); */
    /* box-shadow: 0 4px 5px 3px rgba(235, 151, 34, 0.359); */
}

.load_paper_button:disabled {
    background: #1f2227;
    cursor: not-allowed;
}

.loading_wheel {
    top: 0.2rem;
    right: 0.25rem;
}

.load_icon {
    /* transform: rotate(90deg); */
    width: 1.7em;
    height: 1.7em;
    margin-top: 0.05rem;
    color: snow;
}

.load_text {
    color: snow;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
}

.status_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.status_neutral {
    color: snow;
    text-align: start;
}

.status_error {
    color: red;
    text-align: start;
}

.status_success {
    color: green;
    text-align: start;
}
