.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 75vw;
    max-width: 800px;
    /* border: 1px solid orange; */
}

.arxiv_input_text {
    color: snow;
    padding: 0.5rem;
}

.arxiv_input_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    /* border: 1px solid red; */
}

.arxiv_form {
    flex-basis: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 10px;
    /* border: 1px solid green; */
}

.arxiv_input {
    flex-basis: 222px;
    flex-grow: 1;
    resize: none;
    font-size: 1.1rem;
    padding: 1rem;
    border: 1px solid #30373d;
    border-radius: 0.5rem;
    background: #070809;
    color: #ececf1;
    outline: none;
}

.arxiv_input:disabled {
    opacity: 0.5;
}

.arxiv_input::placeholder {
    color: #5f6368;
}

.load_paper_button {
    flex-basis: 140px;
    flex-grow: 1;
    color: snow;
    background-color: #eb9722;
    border: none;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

.load_paper_button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.load_paper_button:disabled {
    background: #1f2227;
    cursor: not-allowed;
}

.status_container {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 10;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.status_neutral {
    color: snow;
    text-align: start;
}

.status_error {
    color: red;
    text-align: start;
}

.status_success {
    color: green;
    text-align: start;
}

.button_content_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    /* border: 1px solid blue; */
}

.loading_wheel {
    top: 0.2rem;
    right: 0.25rem;
}

.load_icon {
    /* transform: rotate(90deg); */
    width: 1.7em;
    height: 1.7em;
    color: snow;
}

.load_text {
    color: snow;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    font-size: 1rem;
}
