.footer {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.footer a {
    font-weight: 500;
    /* color: #7a7d81; */
    color: #e68f15;
}

.footer a:hover {
    opacity: 0.8;
}

.footer_text {
    color: #5f6368;
    font-size: 0.8rem;
    margin: 1.5rem;
}

.footer_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer_icon {
    font-size: 1.5rem;
}
